.banner {
    @include flexrow(center,center);
    height: 223px;
    border-radius: 25px;
    background:url("../assets/IMGAcceuil.png") center/cover rgba(0, 0, 0, 0.3);
    background-blend-mode: darken;
    margin: 0 100px 99px 100px;
        h1 {
            font-weight: 500;
            font-size: 48px;
            @include flexrow(center, center);
            color: #FFFFFF;
        }
}

.bannerAbout {
    @include flexrow(center,center);
    height: 223px;
    border-radius: 25px;
    background: url("../assets/IMGAbout.png") center/cover rgba(0, 0, 0, 0.3);
    background-blend-mode: darken;
    margin: 0 100px 38px 100px;
        h1 {
            font-weight: 500;
            font-size: 48px;
            @include flexrow(center, center);
            color: #FFFFFF;
        }
}