.carrousel {
    @include flexrow (space-between,center) ;
    height: 415px;
    border-radius: 25px;
    margin-left: 100px;
    margin-right: 100px;
    background: center/cover;
    img {
        margin: 24px;
    }
    p {
        align-self: flex-end;
        margin-bottom: 25px;
        color: white;
    }
}

