.mainMenu {
    @include flexrow (space-between,center);
    background: #FF6060;
    border-radius: 5px;
    height: 52px;
    padding: 0 20px;
    width: 1023px;
        h1 {
            font-size: 24px;
            font-weight: 500;
            color: white;
        }
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
    width: 1023px;
}

.subMenu {
    color: $color-1;
    padding-left: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    display: none;
    background-color: #F6F6F6;
    width: 1023px;
}

.dropdown:hover .subMenu {
    display: block;
}